
	body {
		background-color: lightgrey;
		
	}

     h1 { 
	   font-family: "Verdana", bold, sans-serif;
    }
	
	h2{
		font-family: "Verdana", bold, sans-serif;
	}
	
	h3{
		font-family: "Verdana", bold, sans-serif;
	}
	
	h4{
		font-family: "Verdana", bold, sans-serif;
	}
	
	h5{
		font-family: "Verdana", bold, sans-serif;
	}
	
	h6{
		font-family: "Verdana", bold, sans-serif;
	}
	
	#myHeading{
		text-align: center; 
       color: white;
	   font-size: 90px;
	   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	div {
	height: 200px;
	border: 2px outset black;
	background-image: url('media/starrynight.jpg');
	}
	
	nav.navformat {
	border:1px solid #ccc;
	border-color: black;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;		
	}
	
	img.picformat{
		margin:5px 17px 5px;
	}
